.profilePill {
    width: max-content;
    border-radius: 2rem;
    padding: 0.5rem;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    color: #114e85;
}

.dpBg {
    width: 2rem;
    height: 2rem;
    background-color: #d6dce8;
    overflow: hidden;
    border-radius: 2rem;
    margin-right: 0.5rem;
}

.dp {
    max-width: 100%;
    object-fit: contain;
}

.name {
    margin-right: 0.5rem;
    font-weight: 500;
}

.iconContainer {
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

.icon {
    width: 100%;
    height: 100%;
}
