.dashboard {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.left {
    width: 20%;
    height: 100%;
    background-color: #181d1c;
    padding-top: 2rem;
    padding-left: 2rem;
}

.logo {
    width: 9rem;
    margin-bottom: 2rem;
}

.navLink {
    margin-bottom: 1rem;
}

.right {
    width: 80%;
    height: 100%;
    background-color: #83abfa;
    display: flex;
    flex-direction: column;
}

.rightHeader {
    padding: 2rem;
    background-image: linear-gradient(to bottom, #114e85, #83abfa);
    display: flex;
    justify-content: flex-end;
}

.profilePill {
    width: max-content;
    border-radius: 2rem;
    padding: 0.5rem;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    color: #114e85;
}

.name {
    margin-right: 0.5rem;
    font-weight: 500;
}

.iconContainer {
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

.icon {
    width: 100%;
    height: 100%;
}

.dynamicContent {
    flex: 1;
    margin: 0 2rem 2rem 2rem;
    overflow-y: scroll;
}
