.navLink {
    color: #83abfa;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.navIcon {
    margin-right: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
