.passwordField {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.passwordFieldInput {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: white;
}

.eyeButton {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

.eyeIcon {
    width: 1rem;
}
