.headerOuter {
    width: 100vw;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

.header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 4rem;
}

.navLink {
    margin-left: 6rem;
    color: #08289c;
    font-weight: 500;
}

.circularOutline {
    border-radius: 2rem;
    border: 2px solid #08289c;
    padding: 0.4rem 1rem;
}
